{% extends 'base.html' %}

{% block head %}
<title>Loggedin</title>
{% endblock %}

{% block body %}
    <div style="" class="title">
        <h1 >Welcome Person</h1>
    </div>
    <div class="limiter">
            <div class="container-login">
                <div style ="" class="wrap-login">
                    <div class="sensor-image" >
                        <img src="{{ url_for('static', filename='images/plants/') }} + {{ planttype }}">
                    </div>
                    <div class="sensor-data">
                        <h6> Pot does not require any watering today.</h6>
                    </div>
                    <div class="sensor-move">
                        <form method="POST" action="/move" class="">
                            <span style="text-align: center;" class="">
                                <h4>Sensor is Indoors</h4>
                            </span>



                            <div class="container-login-form-btn">
                                <button type="submit" class="login-form-btn">
                                    Send Sensor: Outside
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}