{% extends 'base.html' %}

{% block head %}
<title>Loggedin</title>
{% endblock %}

{% block body %}
    <div style="" class="title">
        <h1 >Welcome {{ user }}</h1>
    </div>
    <div class="limiter">
            <div class="container-login">
                <div style ="" class="wrap-login">
                    <div class="sensor-image" >
                        <img src="{{ url_for('static', filename='images/plants/') }}{{ planttype }}">
                    </div>
                    <div class="sensor-data">
                        {% if water != "True" %}
                            <h6> Pot does not require any watering today.</h6>
                        {% else %}
                            <h6> Pot needs to be watered today.</h6>
                        {% endif %}

                    </div>
                    <div class="sensor-move">
                        <form method="POST" action="/move?id={{ plantid }}" class="">
                            <span style="text-align: center;" class="">
                                {% if outdoors == "True" %}
                                <h4>Sensor is Outdoors</h4>
                                {% else %}
                                <h4>Sensor is Indoors</h4>
                                {% endif %}
                            </span>



                            <div class="container-login-form-btn">
                                {% if outdoors == "True" %}
                                <button type="submit" class="login-form-btn">
                                    Send Sensor: Inside
                                </button>
                                {% else %}
                                <button type="submit" class="login-form-btn">
                                    Send Sensor: Outside
                                </button>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}